**/.git
**/.vs
**/.vscode
**/.idea
**/.angular
**/bin
**/obj
**/TestResults
**/node_modules
**/dist
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal
**/Dockerfile*
**/.dockerignore
**/docker-compose*
**/.env
src/Web
